/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    padding: 0;
}

.status {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        background-image: url(./assets/img/status.gif);
        background-repeat: no-repeat;
        background-position: center;
        margin: -100px 0 0 -100px;
}